<html>
<head>
   <meta charset="UTF-8" />
    <title>EJS book</title>
</head>
<body>
    <h1>책 목록 <%= count %>가지</h1>
    <p>
        <input type="button" value="add book" onclick="location.href='/add'">
    </p>
    <% books.forEach(function(item) { %>
    <h3><a href='/books/<%= item.id %>'>ID : <%= item.id %></a></h3>
    <ul>
        <li>title : <%= item.title %>  </li>
        <li>director : <%= item.director %>  </li>
    </ul>
    <% }) %>
</body>
</html>