<html>
<head>
   <meta charset="UTF-8" />
    <title>EJS Example</title>
</head>
<body>
    <h1><%= detail.title %></h1>
    <ul>
        <li>title : <%= detail.title %>  </li>
        <li>director : <%= detail.director %>  </li>
        <li>year : <%= detail.year %>  </li>
        <li>type : <%= detail.type %>  </li>
    </ul>
    </br>
    <input type="button" value="돌아가기" onclick="location.href='/books'">
    <form name="detail" method="post" action="/books/delete">
        <input type="hidden" name="id" value="<%= detail.id %>">
        <input type="button" value="책 수정" onclick="location.href='/books/detail/<%= detail.id %>'">&nbsp;
        <input type="submit" value="책 삭제">
    </form>  
</body>
</html>