<html>
<head>
    <meta charset="UTF-8" />
    <title>책 정보</title>
    <h1 style="color:royalblue;">책 정보</h1>
</head>
<body>
        <h2><%= data.title %></h2>
        <ul>
            <li>책 저자 : <%= data.director %>  </li>
            <li>책 발행일 : <%= data.year %>  </li>
            <li>책 타입 : <%= data.type %>  </li>
            <li>책 이미지 :<br><br>
            <img src="/<%= image.image %> " height="200px" width="200px" style="border: 3px solid;"/></li>
        </ul>
        <br> <br>
        <form name="input" method="POST" action="../Book/delete/<%= data.id %>">
            <input type="button" value="책 리스트" onclick="location.href='http://localhost:3000/Book'">
            <input type="button" value="책 정보 수정" onclick="location.href='http://localhost:3000/Book/update/<%= data.id %>'">
            <input type="submit" value="삭제">
        </form>  
</body>
</html>