<html>
<head>
    <meta charset="UTF-8" />
    <title>책 수정</title>
    <h1 style="color:royalblue;"></h1> 책 수정</h1>
</head>
<body>
    <br>
    <form name="input" method="POST" action="/Book/update/<%= data.id %>">
        책 제목 : <input type="text" name="title" value="<%= data.title %>" style="width:300px;"></br></br>
        책 저자 : <input type="text" name="director" value="<%= data.director %>" style="width:300px;"></br></br>
        책 발행일 : <input type="text" name="year" value="<%= data.year %>" style="width:300px;"></br></br>
        책 타입 : <input type="text" name="type" value="<%= data.type %>" style="width:300px;"></br><br>
        책 이미지 : <input type="file" name="book_img" value="<%= image.image %> "> <br><br>

        <input type="submit" value="수정">
        <input type="button" value="돌아가기" onclick="history.back(-1)">
    </form>
</body>
</html>